/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
   
    width: 100%;
    bottom: 0;
  }
  
  /* Main Content */
  main {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #4CAF50;
  }
  
  /* Product and Contact Styles */
  section {
    margin-bottom: 30px;
  }
  
  article {
    background-color: #e1f5e1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  form {
    display: grid;
    grid-gap: 10px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  form input,
  form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  